@model Kursova.ViewModels.TestViewModel
<h2>Середній результат</h2>

<table class="table">
    <thead id="thead">
        <tr>
            <th>
                <input type="date" id="for">
                <input type="date" id="to">
                <input type="button" value="Підтвердити і вивести результати">
            </th>
        </tr>
        <tr>
            <th>
                Середній бал:
            </th>
            
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript">
        var score = 0;

    $(document).ready(function () {

        $('#thead').on('click', 'input[type="button"]', function () {

            $.ajax({

                url: "/api/ProgressApi/AveregeScore",
                data: { "testId": "@Model.Id", "_for": $('#for').val(), "to": $('#to').val() },
                success: function (data) {
                    $("#tbody").empty();

                    var t = JSON.parse(data);
                    $("#tbody").append("<tr> <td>" + t + "</td></tr>");
                   

                },
                error: function () {
                    alert(404);
                }


            })
        });


        })
</script>