@model Kursova.ViewModels.TestViewModel




<table class="table" id="tbl">
    <tr>
        <td>Оцінка</td>
        <td>Питання</td>
        <td>Відповідь</td>
    </tr>
</table>
<a asp-action="Index" asp-controller="TestViewModels"> Готово </a>
<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript">
    var score = 0;
    var i = 0;

    $("#tbl").append("<tr><td><input type\"text\" id=\"score" + i + "\" /></td><td><input type\"text\" id=\"question" + i + "\" /></td > <td><input type\"text\" id=\"answer" + i + "\" /> </td> <td><input id=\"" + i + "\" type=\"button\" value=\"Create\"  /></td></tr >");

    $(document).ready(function () {

        function append() {
            $("#tbl").append("<tr><td><input type\"text\" id=\"score" + i + "\" /></td><td><input type\"text\" id=\"question" + i + "\" /></td > <td><input type\"text\" id=\"answer" + i + "\" /> </td> <td><input id=\"" + i + "\" type=\"button\" value=\"Create\"  /></td></tr >");
        }

        @*$.ajax({

            success: function () {
                for (var i = 0; i < @Model.CountQuestion; i++) {
                    $("#tbl").append("<tr><td><input type\"text\" id=\"score" + i + "\" /></td><td><input type\"text\" id=\"question" + i + "\" /></td > <td><input type\"text\" id=\"answer" + i +"\" /> </td> <td><input id=\""+i+"\" type=\"button\" value=\"Create\"  /></td></tr >");

                }
                      
             }

        })*@

        $('#tbl').on('click', 'input[type="button"]', function () {
           
            $(this).hide();
            $("#question").attr("disabled", "");
            $.ajax({

                type: "POST",
                url: "/TestViewModels/AddQuestion",
                data: { question: $("#question" + $(this).attr("id")).val(), answer: $("#answer" + $(this).attr("id")).val(), id:@Model.Id, score: $("#score" + $(this).attr("id")).val() },
                success: function () {
                    // window.location = '@Url.Action("Index","TestViewModels")';
                    i++;
                    append();
                    
                },
                error: function () {
                               alert("Error");
                }
            });


        });


    })
</script>