@model IEnumerable<Kursova.ViewModels.TaskViewModel>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Question</td>
                <td>@item.Answer</td>
            </tr>
        }
        </tbody>
</table>

