<li class="nav-item">
    <a class="nav-link text-light" asp-controller="TestProgress" asp-action="ShowTestForResult">Результати успішності користувачів</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-controller="TestProgress" asp-action="ShowTestForBestResultInRegioncshtml">Результати успішності користувачів в певному регіоні</a>
</li>