@model IEnumerable<Kursova.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Тестування</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
SCORE: <span id="score"></span>
<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript">
    var score = 0;

    $(document).ready(function () {
        $(".sbt_btn").click(function () {
            $(this).hide();
            $("#answer" + $(this).attr("id")).attr("disabled", "");
            alert($("#answer" + $(this).attr("id")).val());
            //alert($(this).attr("id"));
            $.ajax({
                url: "/api/testapi/setanswer",
                data: { "id": $(this).attr("id"), "answer": $("#answer" + $(this).attr("id")).val() },

                contentType: "json",

                success: function (data) {
                    //alert(data);
                    score++;
                    $("#score").empty();
                    $("#score").text(score);
                },
                error: function () {
                    alert("Incorrect");
                }
            })


        })
        
        $.ajax({
            url: "/api/testapi/GetAnswer",
            contentType: "json",

            success: function (data) {
                var t = JSON.parse(data);
                $.each(t,function() {
                    $("#tbody").append("<tr id=\"tr"+this.Id+"\"> <td>" + this.Question + "</td><td><input type=\"text\" id=\"answer"
                        + this.Id + "\" ></td><td><p> <input id=\"" + this.Id + "\" value=\" Підтвердити \" type=\"button\"  class=\"sbt_btnn\"/></p> </td> </tr>");
                });
                
            }

        })
        
        $('#tbody').on('click', 'input[type="button"]', function () {
            if ($("#answer" + $(this).attr("id")).val() != "")
            {
                $(this).hide();
                $("#answer" + $(this).attr("id")).attr("disabled", "");
                $.ajax({
                    url: "/api/testapi/setanswer",
                    data: { "id": $(this).attr("id"), "answer": $("#answer" + $(this).attr("id")).val() },
                    contentType: "json",
                    success: function (data) {
                        score++;
                        $("#score").empty();
                        $("#score").text(score);
                    },
                    error: function () {
                        alert("Incorrect");
                    }
                })
            }
           
        });
    
    
    })
</script>