<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/style.css" />


</head>
<body>
    <header>
        <h1>Сайт вчителя математики</h1>
        <nav>

            @if (User.Identity.IsAuthenticated)
            {

                <div class="top">
                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <a>@User.Identity.Name</a>
                        <input type="submit" value="Вихід" />
                    </form>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <a class="aa" asp-controller="Roles" asp-action="UserList">Користувачі</a>

                }
                @if (User.IsInRole("Admin") || User.IsInRole("Student"))
                {
                    <a class="aa" asp-area="" asp-controller="TaskViewModels" asp-action="Index">Тести</a>

                }
            }
            else
            {
                <a class="aa" asp-controller="Account" asp-action="Login">Вхід</a>
                <a class="aa" asp-controller="Account" asp-action="Register">Реєстрація</a>
            }

            <a class="aa" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
            <a class="aa" asp-area="" asp-controller="Home" asp-action="About">Інше</a>
            <a class="aa" asp-area="" asp-controller="Home" asp-action="Index">Домашня</a>

        </nav>
    </header>



    <partial name="_CookieConsentPartial" />

    @RenderBody()


</body>
</html>

