<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap/bootstrap-theme.css" />


</head>
<body>
    



    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand text-white">Онлайн-Тестування</a>
            </div>
            <div class="navbar">
                <ul class="nav justify-content-start">
                    <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Домашня</a> </li>
                    @if (User.Identity.IsAuthenticated)
                    {


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="Main">Статистика</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Roles" asp-action="UserList">Користувачі</a>
                            </li>
                            @*<li class="nav-item">
                    <a class="nav-link text-light" asp-controller="TaskViewModels" asp-action="ViewListQuestion">Список усіх питань</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="ScoresOfStudents">Бали учнів</a>
                </li>*@

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestViewModels" asp-action="Index">Створення тесту</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="ShowTestForResult">Results</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="ShowTestForBestResultInRegion">Results2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="ShowTestForBestResultOnRegion">Results3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="PopularTests">Results4</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="AveregeScore">Results5</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="RatingOfUsers">Results6</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TestProgress" asp-action="AboutUsers">Results7</a>
                            </li>*@

                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Student"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="TestViewModels" asp-action="Tests">Тести</a>
                            </li>


                        }
                        <li class="nav-item">
                            <a class="nav-link text-light">@User.Identity.Name</a>
                        </li>

                        <li class="nav-item">
                            <form class="mt-2 mb-2" method="post" asp-controller="Account" asp-action="LogOff">
                                <input class="bg-dark border-0 text-white" type="submit" value="Вихід" />
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Вхід</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Реєстрація</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

               
                <partial name="_CookieConsentPartial" />

                @RenderBody()


</body>
</html>

