
<div>
    <ul>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="ShowTestForResult">Результати тесту  за певний проміжок часу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="ShowTestForBestResultInRegion">Найкращі результати тесту за певний проміжок часу та у відповідній області</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="ShowTestForBestResultOnRegion">Найкращі результати тесту за певний проміжок часу по областях</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-controller="TestProgress" asp-action="PopularTests">Топ найпопулярніших тестів</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="AveregeScore">Середній бал певного тесту за певний проміжок часу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="RatingOfUsers">Рейтинг активності користувачів</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="TestProgress" asp-action="AboutUsers">Усі користувачі в певній області</a>
        </li>
    </ul>
</div>