@model Kursova.ViewModels.RegisterViewModel
<form class="text-center" method="post" asp-controller="Account" asp-action="Register">
    <h2>Реєстрація нового користувача</h2>

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" />
    </div>

    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>

    <div>
        <input type="submit" value="Реєстрація" />
    </div>
</form>