@model IEnumerable<Kursova.Models.User>

<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Бали
            </th>
           
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>