@model IEnumerable<Kursova.Models.User>

<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Бали
            </th>

        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: "/api/testapi/ValidateAnswer",
            contentType: "json",
            success: function (data) {
                var t = JSON.parse(data);
                $.each(t, function () {
                    $("#tbody").append("<tr> <td>" + this.Name +" "+ this.LastName+"</td> <td>"+this.Score+"</td> </tr>")
                });
            }
        })



    })
</script>